.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.footer__column-links:first-of-type {
  margin: 0px;
  padding-top: 20px;
}
.footer__column-links:last-of-type {
  margin: 0px;
  padding-bottom: 16px;
}
.footer__column-links:hover {
  transition: 0.3s;
  opacity: 50%;
}
